{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<main class ="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">{% trans "Django app Manager task by Cristopher Castro" %}</h1>
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
           {% trans "Sing in" %}
        </a>
        <a class="btn btn-dark" href="/signup/">
            {% trans "Sing up" %}
        </a>
    </div>
    </section>
{% endblock %}
